body {
  color: #fff;
  font-family: "Nunito Semibold";
  text-align: center;
}

#content {
  display: grid;

  /* columns */
  grid-template-columns: repeat(3, 1fr);

  /* rows */
  grid-auto-rows: minmax(150px, auto);

  /* gaps */
  grid-gap: 10px;

  max-width: 960px;
  margin: 0 auto;

  /* top and bottom */
  /* align-items: stretch; */

  /* left and right */
  /* justify-items: stretch; */
}

#content div {
  background: #3bbced;
  padding: 30px;
}

#content div:nth-child(even) {
  background: #777;
}

.one {
  justify-self: end;
  align-self: end;
}

.two {
  justify-self: center;
  align-self: center;
}

.three {
  justify-self: start;
  align-self: start;
}

.four {
}

.five {
}

.six {
}
